.MDFloatingHeaderViewEditor {
    font-size:  14px;
    padding:    10px;
}

.MDFloatingHeaderViewEditor .CBStringEditor.select {
    text-align: center;
}

.MDFloatingHeaderViewEditor .CBStringEditor.singleLine {
    align-items:            baseline;
    -webkit-align-items:    baseline;
    display:                flex;
    display:                -webkit-flex;
    margin-top:             10px;
    width:                  100%;
}

.MDFloatingHeaderViewEditor .CBStringEditor input {
    flex:           1 0 auto;
    -webkit-flex:   1 0 auto;
    padding:        4px;
}

.MDFloatingHeaderViewEditor .CBStringEditor > input,
.MDFloatingHeaderViewEditor .CBStringEditor > select {
    margin-left: 5px;
}
