[submodule "colby"]
	path = colby
	url = mdgit@mattifesto.com:~/colby.git
[submodule "swiftmailer"]
	path = swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "SCShoppingCartLibrary"]
	path = SCShoppingCartLibrary
	url = mdgit@mattifesto.com:~/libraries/SCShoppingCartLibrary.git
