.MDMostRecentBlogPostView {
    align-items: center;
    color: inherit; /* override anchor text color */
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
}

.MDMostRecentBlogPostView > * {
    max-width: 640px;
    width: 100%;
}

.MDMostRecentBlogPostView > * + * {
    margin-top: 10px;
}

.MDMostRecentBlogPostView .description {
    color: var(--CBTextColor2);
    line-height: 1.6;
}

.MDMostRecentBlogPostView h2 {
    font-size: inherit;
    font-weight: inherit;
}

.MDMostRecentBlogPostView .link {
    color: hsl(210, 100%, 50%);
    color: var(--CBTextColorForLinks);
}

.MDMostRecentBlogPostView:hover .link {
    text-decoration: underline;
}
