/* Mattifesto StandardBodyText Theme: Version 1 */

view {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
}

a.view > h1,
a.view > div {
  color: #3f3fef;
}

a.view:hover > h1,
a.view:hover > div {
  text-decoration: underline;
}

view cite {
  color: hsl(0, 0%, 50%);
  font-style: italic;
}

view b > i,
view i > b {
  font-style: italic;
  font-weight: 300;
}

view > h1 {
  font-size: 36px;
  font-weight: 300;
}

view > h1 + div {
  margin-top: 20px;
}

view > div {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

view > div > p + * {
  margin-top: 1em;
}

view > div > h1,
view > div > h2,
view > div > h3 {
  font-weight: 300;
}

view > div > h1 {
  font-size: 28px;
}

view > div > h2 {
  font-size: 24px;
}

view > div > h3 {
  font-size: 20px;
}
