.MDBodyTextView {
    align-self: center;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    max-width: 640px;
    padding: 40px 20px;
}

.MDBodyTextView > h1 {
    margin-bottom: 1em;
}

.MDBodyTextView > div p + p {
    margin-top: 1em;
}
