.MDFlexContainerViewEditor {
    box-sizing: border-box;
    font-size:  14px;
    padding:    10px;
}

.MDFlexContainerViewEditor > .container {
    display:                    flex;
    display:                    -webkit-flex;
    justify-content:            center;
    -webkit-justify-content:    center;
}

.MDFlexContainerViewEditor > .container > .options {
    border-left:    1px solid hsl(0, 0%, 80%);
    margin-left:    10px;
    padding-left:   10px;
    width:          400px;
}

.MDFlexContainerViewEditor > .container > .options > h2 {
    border-top:     1px solid hsl(0, 0%, 80%);
    color:          hsl(0, 0%, 50%);
    font:           inherit;
    margin-top:     10px;
    padding-top:    0px;
    text-align:     center;
}

.MDFlexContainerViewEditor > .subviews {
    background-color:   white;
    border:             1px solid hsl(0, 0%, 80%);
    margin-top:         10px;
}
